body {
    padding-top: 20px;
}

.productsrow {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

.menu-category {
    display: inline-block;
    margin-bottom: 0.25rem;
    padding: 1rem;
    width: 100%;
}

.product-image {
    width: 100%;
}

.product {
    padding-top: 22px;
}

.btn-product {
    background-color: #222;
    color: #eee;
    -ms-border-radius: 0;
    border-radius: 0;
}

.yellow {
    color: yellow;
    -ms-text-shadow: #ccc 1px 1px 0;
    text-shadow: #ccc 1px 1px 0;
}

.store-banner-lg {
    position: relative;
    height: 370px; 
    background: #C4C4C4;
    border-radius: 10px;
    width: 100%;
}

.store-banner-md {
    position: relative;
    height: 258px; 
    background: #C4C4C4;
    border-radius: 10px;
    width: 100%;
}

.store-title-lg {
    position: absolute; 
    top: 80px;
    left: 40px;
}

.store-title-md {
    position: absolute; 
    top: 48px;
    left: 40px;
}

.store-menu li {
    display: inline-block;
    width: 170px;
    height: 30px;
    font-size: 1.2em;
    font-weight: bold;
    background: #F9C402;
    margin-right: 2px;
    text-align: center;
    line-height: 30px;
    -ms-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}