@{
    ViewBag.Title = "МАГАЗИН";
}

@Html.Partial("_NavigationMenuMobile", "Catalog")

<div class="container">
    @Html.Partial("_NavigationMenuDesktop", "Catalog")

    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt1.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt2.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt3.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt4.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt5.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt6.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt7.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt8.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt9.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt10.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt11.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt12.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
    </div>

    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>