@{
    ViewBag.Title = "КОНТАКТЫ";
}

@Html.Partial("_NavigationMenuMobile")

<div class="container">
    @Html.Partial("_NavigationMenuDesktop", "Contacts")

    <h2>@ViewBag.Title</h2>
</div>

