@{
    ViewBag.Title = "МАГАЗИН";
}

@Html.Partial("_NavigationMenuMobile")

<div class="container">
    @Html.Partial("_NavigationMenuDesktop", "Store")

    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Images/ec_tshirt1.jpg">
                <div class="caption">
                    <h4>Маечка</h4>
                </div>
                <a href="#" class="list-group-item">Belt<span class="badge">£28</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Images/ec_tshirt2.jpg">
                <div class="caption">
                    <h4>Маечка</h4>
                </div>
                <a href="#" class="list-group-item">Belt<span class="badge">£28</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Images/ec_tshirt3.jpg">
                <div class="caption">
                    <h4>Маечка</h4>
                </div>
                <a href="#" class="list-group-item">Belt<span class="badge">£28</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Images/ec_tshirt4.jpg">
                <div class="caption">
                    <h4>Маечка</h4>
                </div>
                <a href="#" class="list-group-item">Belt<span class="badge">£28</span></a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Images/ec_tshirt5.jpg">
                <div class="caption">
                    <h4>Маечка</h4>
                </div>
                <a href="#" class="list-group-item">Belt<span class="badge">£28</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Images/ec_tshirt6.jpg">
                <div class="caption">
                    <h4>Маечка</h4>
                </div>
                <a href="#" class="list-group-item">Belt<span class="badge">£28</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Images/ec_tshirt7.jpg">
                <div class="caption">
                    <h4>Маечка</h4>
                </div>
                <a href="#" class="list-group-item">Belt<span class="badge">£28</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Images/ec_tshirt8.jpg">
                <div class="caption">
                    <h4>Маечка</h4>
                </div>
                <a href="#" class="list-group-item">Belt<span class="badge">£28</span></a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Images/ec_tshirt9.jpg">
                <div class="caption">
                    <h4>Маечка</h4>
                </div>
                <a href="#" class="list-group-item">Belt<span class="badge">£28</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Images/ec_tshirt10.jpg">
                <div class="caption">
                    <h4>Маечка</h4>
                </div>
                <a href="#" class="list-group-item">Belt<span class="badge">£28</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Images/ec_tshirt11.jpg">
                <div class="caption">
                    <h4>Маечка</h4>
                </div>
                <a href="#" class="list-group-item">Belt<span class="badge">£28</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Images/ec_tshirt12.jpg">
                <div class="caption">
                    <h4>Маечка</h4>
                </div>
                <a href="#" class="list-group-item">Belt<span class="badge">£28</span></a>
            </div>
        </div>
    </div>
</div>