@{
    ViewBag.Title = "ГДЕ КУПИТЬ";
}

@Html.Partial("_NavigationMenuMobile")

<div class="container">
    @Html.Partial("_NavigationMenuDesktop", "Where")

    <h2>@ViewBag.Title</h2>
</div>